/*
font-family: 'Roboto', sans-serif;
100,300,400,500,700,900

yellow        #fc0
orange        #f60
blue          #6cf
pink          #f6007b
*/

html, body {
	height: 100%;
}

body {
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	color: #fff;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	outline: none;
}

a {
	color: #fff;
	text-decoration: none;
}

img {
	display: block;
	border: none;
}

table {
	table-layout: auto;
	border-width: 0;
	border-collapse: collapse;
}

h1 {
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	margin: 0;
}
	h1 > span {
		display: block;
		font-weight: 100;
	}

h2 {
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	margin: 0;
	height: 0;
}
	h2 > span {
		display: block;
		word-break: break-all;
	}

ul {
	padding-left: 1em;
}

header {
	position: relative;
	min-height: 100%;
	background-color: #fc0;
	overflow: hidden;
	z-index: 2000;
}

section {
	position: relative;
	width: 100%;
	min-height: 100%;
	background-size: cover;
	overflow: hidden;
}

section:first-of-type {
	position: fixed;
	top: 0;
	z-index: 500;
}
	section:first-of-type > h1 {
		opacity: 0.3;
		z-index: 505;
	}
	section:first-of-type > aside {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	#bg1 {
		background-image: url("../images/bg_allsorts.jpg");
		z-index: 504;
	}
	#bg3 {
		background-image: url("../images/bg_beans.jpg");
		z-index: 502;
	}

section article {
	font-weight: 100;
	letter-spacing: -1px;
}
	section article strong {
		font-weight: 500;
	}

section:nth-of-type(2) {
	top: 100%;
	background-color: #6cf;
	z-index: 600;
}

section:nth-of-type(3) {
	top: 100%;
	z-index: 700;
}

section:last-of-type {
	top: 100%;
	background-color: #f6007b;
	z-index: 1000;
}
	section:last-of-type article a {
		overflow-wrap: anywhere;
	}

footer {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 18px;
	font-weight: 100;
	line-height: 22px;
	padding: 10px;
}
	footer > span {
		white-space: nowrap;
	}



@media (min-width: 1500px) {
	
	h1, h2 {
		font-size: 375px;
		line-height: 300px;
		letter-spacing: -23px;
		padding: 30px;
	}
		h1 > span {
			font-size: 180px;
			line-height: 150px;
			letter-spacing: -12px;
			margin: 30px 0 0 8px;
		}

	h2 {
		font-size: 312px;
		line-height: 250px;
		letter-spacing: -19px;
		padding: 30px;
	}

	section article {
		font-size: 50px;
		line-height: 56px;
		padding: 80px 51px 92px 51px;
	}

}



@media (max-width: 1499px) {

	h1, h2 {
		font-size: 250px;
		line-height: 200px;
		letter-spacing: -15px;
		padding: 30px;
	}
		h1 > span {
			font-size: 120px;
			line-height: 100px;
			letter-spacing: -8px;
			margin: 20px 0 0 4px;
		}

	h2 {
		font-size: 200px;
		line-height: 160px;
		letter-spacing: -12px;
		padding: 30px;
	}

	section article {
		font-size: 39px;
		line-height: 44px;
		padding: 60px 42px 72px 42px;
	}

}



@media (max-width: 700px) {

	h1, h2 {
		font-size: 190px;
		line-height: 150px;
		letter-spacing: -12px;
		padding: 20px;
	}
		h1 > span {
			font-size: 90px;
			line-height: 75px;
			letter-spacing: -6px;
			margin: 15px 0 0 3px;
		}

	section article {
		font-size: 32px;
		line-height: 36px;
		padding: 40px 29px 50px 29px;
	}

}



@media (max-width: 520px) {

	h1, h2 {
		font-size: 125px;
		line-height: 100px;
		letter-spacing: -8px;
		padding: 15px;
	}
		h1 > span {
			font-size: 60px;
			line-height: 50px;
			letter-spacing: -4px;
			margin: 10px 0 0 2px;
		}

	section article {
		font-size: 28px;
		line-height: 31px;
		padding: 35px 20px 43px 20px;
	}

}



@media (max-width: 400px) {

	h1, h2 {
		font-size: 83px;
		line-height: 66px;
		letter-spacing: -5px;
		padding: 10px;
	}
		h1 > span {
			font-size: 40px;
			line-height: 33px;
			letter-spacing: -3px;
			margin: 7px 0 0 2px;
		}

	section article {
		padding: 30px 13px 35px 13px;
	}

}



/* loader */

.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fc0;
	overflow: hidden;
	z-index: 10000;
}
.loader > div {
	display: table;
	width: 100%;
	height: 100%;
}
.loader > div > div {
	display: table-cell;
	vertical-align: middle;
}
.loadanim {
	position: relative;
	width: 8%;
	height: 0;
	padding-bottom: 8%;
	margin: 0 auto;
}
.loadanim div {
	display: none;
	position: absolute;
	width: 20%;
	height: 20%;
	border-radius: 50%;
	background: #fff;
}
.loadanim div:nth-child(8n+1) { top: 0; left: 40%; }
.loadanim div:nth-child(8n+2) { top: 11%; right: 11%; }
.loadanim div:nth-child(8n+3) { top: 40%; right: 0; }
.loadanim div:nth-child(8n+4) { bottom: 11%; right: 11%; }
.loadanim div:nth-child(8n+5) { bottom: 0; left: 40%; }
.loadanim div:nth-child(8n+6) { bottom: 11%; left: 11%; }
.loadanim div:nth-child(8n+7) { top: 40%; left: 0; }
.loadanim div:nth-child(8n+8) { top: 11%; left: 11%; }
.loadanim div:nth-child(9) { display: block; opacity: 0.3; }
.loadanim div:nth-child(10) { display: block; opacity: 0.3; }
.loadanim div:nth-child(11) { display: block; opacity: 0.3; }
.loadanim div:nth-child(12) { display: block; opacity: 0.3; }
.loadanim div:nth-child(13) { display: block; opacity: 0.3; }
.loadanim div:nth-child(14) { display: block; opacity: 0.3; }
.loadanim div:nth-child(15) { display: block; opacity: 0.3; }
.loadanim div:nth-child(16) { display: block; opacity: 0.3; }
