---
const year = new Date().getFullYear();
---

<section class="panel panel--contact" data-contact-section>
  <article class="copy copy--contact">
    <p><a href="mailto:lucas@lucasforde.co.uk">lucas@lucasforde.co.uk</a></p>
  </article>

  <footer class="site-footer">
    <span>&copy; Lucas Forde {year}</span>
  </footer>
</section>
