---
const title = "Lucas Forde";
const strapline = "Web Design and Development";
---

<header class="hero panel panel--hero" data-hero>
  <h1 class="site-title site-title--hero" data-hero-title>
    {title}
    <span>{strapline}</span>
  </h1>
</header>
