<section class="panel panel--intro" data-intro-section>
  <article class="copy">
    <p><strong>Hello</strong>, my name is Lucas Forde, I am an experienced frontend web developer. As a motivated problem solver, I love to combine the art of design and the art of coding. With meticulous attention to detail, I build web applications that bring to life design and functionality in line with the intentions and expectations of the designers, managers, and clients I work with. I write clean, efficient, standards compliant, cross browser compatible code that is adaptable and easily reused, as well as fully responsive user interfaces that accommodate all screen sizes and devices.</p>

    <p>The internet is an ever-changing environment and learning new skills is always exciting, currently I am doing the Udemy course on React and Redux. I enjoy collaborating with my colleagues, feedback within the team ensures the highest standard of work is produced. In my next role I hope to be in a position that is both challenging and rewarding and allows me to continue to grow in my career.</p>
  </article>
</section>
