<div class="loader-preload" data-loader-preload aria-hidden="true">
  <img src="/images/bg_dash.jpg" alt="" />
  <img src="/images/bg_code.jpg" alt="" />
</div>

<div class="loader" data-loader aria-hidden="true">
  <div>
    <div>
      <div class="loadanim" data-loadanim>
        <span data-loader-dot></span>
        <span data-loader-dot></span>
        <span data-loader-dot></span>
        <span data-loader-dot></span>
        <span data-loader-dot></span>
        <span data-loader-dot></span>
        <span data-loader-dot></span>
        <span data-loader-dot></span>
        <span class="is-base"></span>
        <span class="is-base"></span>
        <span class="is-base"></span>
        <span class="is-base"></span>
        <span class="is-base"></span>
        <span class="is-base"></span>
        <span class="is-base"></span>
        <span class="is-base"></span>
      </div>
    </div>
  </div>
</div>
